.journal-item{
    font-family: "Source Sans Pro";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.03);
    color: #fff;
}
.journal-item__header{

    font-size: 18px;
    font-weight: 600;
    line-height: 1.55;
}
.journal-item__body{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.journal-item__date{
}
.journal-item__text{
    overflow: hidden;
}